
body {
	font-family: helvetica;
}

#page_wrapper {
	width: 800px;
    margin: 0 auto;
}

/*Navigation Bar Styling*/
nav {
	margin: -30px 0px 10px -20px;
	padding: 0 30px 0 0;
}

nav ul ul {
	display: none;
}

	nav ul li:hover > ul {
		display: block;
	}

nav ul {
	background: #106500; 
	background: linear-gradient(top, #106500 0%, #064100 100%);  
	background: -moz-linear-gradient(top, #106500 0%, #064100 100%); 
	background: -webkit-linear-gradient(top, #106500 0%,#064100 100%);
	/*box-shadow: 0px 0px 9px rgba(0,0,0,0.15);*/
	padding: 0 20px;
	list-style: none;
	position: relative;
	display: inline-table;
}
	nav ul:after {
		content: ""; clear: both; display: block;
	}

nav ul li {
	float: left;
}
	nav ul li:hover {
		background: #106500;
		background: linear-gradient(top, #106500 0%, #57934c 40%);
		background: -moz-linear-gradient(top, #106500 0%, #57934c 40%);
		background: -webkit-linear-gradient(top, #106500 0%, #57934c 40%);
	}
		nav ul li:hover a {
			color: #fff;
		}
	
	nav ul li a {
		display: block; padding: 25px 40px;
		color: white; text-decoration: none;
	}

nav ul ul {
	background: #57934c; border-radius: 0px; padding: 0;
	position: absolute; top: 100%;
}
	nav ul ul li {
		float: none; 
		border-top: 1px solid #6b727c;
		border-bottom: 1px solid #575f6a;
		position: relative;
	}
		nav ul ul li a {
			padding: 15px 40px;
			color: #fff;
		}	
			nav ul ul li a:hover {
				background: #106500;
			}
nav {
	width:100%;
	height: 82px;
	background: #106500; 
	background: linear-gradient(top, #106500 0%, #064100 100%);  
	background: -moz-linear-gradient(top, #106500 0%, #064100 100%); 
	background: -webkit-linear-gradient(top, #106500 0%,#064100 100%);
	box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
}

#wctLogo {
	position: absolute;
	background-image: url("../img/wct_icon.png");
	background-size: 100%;
	height: 60px;
	width: 60px;
	right:0;
	top: 0;
}

/* Form styling */

fieldset {
	padding: 20px;
	margin:10px;
	background-color: #d0d1c9;
	border: none;
}

legend {
	padding-top: 0px;
	font-weight: bold;
	padding: 0.2em 0.5em;
	border:1px solid green;
	color:green;
	font-size:90%;
	text-align:left;
	background-color: white;
}

label {
	padding: 5px;
}

input[type=text] {
	background: #fff;
	width: 280px;
	height: 20px;
	padding: 10px;
	margin: 0 0 0 10px;
	line-height: 1;
	/*border: none;*/

	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
}

select {
	margin: 0 0 0 10px;
	width:150px;
}

input[type=checkbox] {
	margin: 0 0 0 10px;
}

#nextButton, #submitButton, #cancelButton {
	background-color: #106500;
	color: white;
	font-size: 18pt;
	padding: 5px;
	border: none;
	cursor: pointer;	
	display: inline;
}


